.hero__header-decor::before {
    width: 5.6em;
    height: 4.23em;
    top: -3em;
    left: -4.5em
}

b {
    font-weight: 900
}

.hero__header-decor {
    right: 5.75em;
    word-spacing: 0;
    top: 3em
}

@media (min-width: 1921px) {
    .gallery-item {
        background-size: cover;
        height: 28vw
    }

    .review-block__text {
        font-size: 1.1vw
    }

    .review-block__title {
        font-size: 1.8vw
    }

    .review-block__avatar {
        max-width: 6vw;
        max-height: 6vw
    }

    .advantages__card {
        font-size: 1.2vw;
        max-width: 25%
    }

    .hero__header {
        font-size: calc(100vw - 95.2vw)
    }

    .screen-block__rates-block {
        max-width: 100%
    }

    .hero__comment-title {
        font-size: 2vw
    }

    .hero__comment-text-block {
        font-size: 1.2vw
    }
}

@media (max-width: 1940px) {
    .hero__header {
        font-size: calc(100vw - 95.2vw)
    }
}

@media (max-width: 1920px) {
    .gallery-item {
        width: 38.4vw
    }

    .gallery-controls {
        bottom: -8vw
    }

    .advantages {
        padding-top: 15vw
    }

    .hero__comment-title {
        font-size: 35px
    }

    .hero__comment-text-block {
        font-size: 22px
    }
}

@media (max-width: 1875px) {
    .advantages {
        padding: 200px 100px;
        padding-top: 300px
    }

    .advantages__list {
        gap: 30px
    }

    .gallery {
        top: 6.4vw
    }

    .hero__header {
        font-size: calc(100vw - 95.6vw)
    }

    .hero__comment-text-block {
        font-size: 20px
    }
}

@media (max-width: 1730px) {
    .hero__header {
        font-size: calc(100vw - 96vw)
    }

    .hero__wrapper {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .hero {
        padding-top: 100px;
        padding-bottom: 150px
    }

    .screen-block__wrapper {
        padding: 130px 140px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .gallery {
        top: 9.6vw
    }

    .screen-block__icon {
        width: 30px;
        height: 30px
    }

    .screen-block__number {
        font-size: 25px
    }

    .screen-block__currency {
        font-size: 25px
    }

    .advantages__decor-bottom {
        right: -7%
    }

    .advantages__decor-bottom img {
        width: 85%
    }

    .advantages__decor-coins {
        right: -16%;
        bottom: -80px
    }

    .advantages__decor-coins img {
        width: 85%
    }

    .review-block__title {
        font-size: 1.8vw
    }

    .review-block__text {
        font-size: 1.1vw
    }

    .review-block {
        padding-top: 2vw
    }

    .gallery-controls {
        bottom: -6vw
    }

    .advantages__text-block {
        width: 45%
    }

    .hero__comment-text-block {
        font-size: 18px
    }

    .hero__comment-title {
        font-size: 30px
    }
}

@media (max-width: 1540px) {
    .advantages__list {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .gallery {
        top: 13vw
    }

    .gallery-controls {
        bottom: -6vw
    }

    .review-block {
        height: 480px
    }

    .screen-block__exchange-rates {
        width: 55%
    }

    .screen-block__text {
        font-size: 30px
    }

    .advantages__card-wrapper {
        padding-bottom: 40px
    }

    .advantages__card-text br {
        display: none
    }

    .advantages__text-wrapper {
        font-size: 16px
    }

    .screen-block__wrapper {
        padding-bottom: 0;
        gap: 30px
    }

    .advantages__card-icon {
        max-width: 100px
    }

    .btn {
        padding: 32px 46px
    }

    .btn span {
        font-size: 30px
    }

    .advantages__text-block {
        width: 45%;
        margin-left: 150px
    }

    .hero__header {
        font-size: calc(100vw - 96.2vw)
    }

    .form__input {
        padding: 30px 15px;
        font-size: 20px
    }

    .form__textarea {
        padding: 30px 15px;
        font-size: 20px
    }

    .hero__comment-block {
        width: 40%
    }

    .connect__comment-like::before {
        width: 25px;
        height: 25px;
        background-size: contain
    }

    .connect__comment-btns {
        font-size: 20px
    }

    .connect__comment::before {
        width: 25px;
        height: 25px;
        background-size: contain
    }

    span.connect__comment-raiting {
        width: 100px
    }
}

@media (max-width: 1400px) {
    .hero {
        padding: 100px 100px 150px
    }

    .hero__big-col {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .review-block {
        height: 28vw;
        padding-top: 4vw;
        padding-bottom: 2vw;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        gap: 15px
    }

    .review-block__avatar {
        max-width: 80px
    }

    .btn {
        padding: 25px 35px
    }

    .btn span {
        font-size: 25px
    }

    .form__input {
        padding: 25px 15px
    }

    .form__textarea {
        padding: 25px 15px
    }

    .screen-block__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .screen-block__text {
        margin-bottom: 60px
    }

    .screen-block__exchange-rates {
        width: 100%
    }

    .wrapper {
        padding: 0 40px;
        margin-bottom: -60px
    }

    .advantages__list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .advantages {
        padding: 200px 40px;
        padding-top: 300px
    }

    .advantages__decor-bottom {
    }

    .advantages__decor-coins {
        bottom: -80px;
        right: -17%
    }

    .advantages__text-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-left: 0
    }

    .advantages__decor-left img {
        width: 75%
    }

    .advantages__decor-right {
        right: -10%
    }

    .advantages__decor-right img {
        width: 75%
    }

    .connect-title {
        display: block;
        text-align: center
    }

    .connect {
        background: 0 0
    }

    .connect__comment-block {
        height: 100%
    }

    .gallery {
        top: 13vw
    }

    .gallery-controls {
        bottom: -8vw
    }

    .gallery-controls button {
        width: 65px;
        height: 65px
    }

    .gallery-controls-next::before {
        width: 30px;
        height: 30px
    }

    .gallery-controls-prev::before {
        width: 30px;
        height: 30px
    }

    .screen-block__first-col {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }

    .screen-block__text {
        width: 100%;
        text-align: center
    }

    .reg-title {
        margin-top: 80px
    }

    .description__title {
        font-size: 40px
    }

    .description__subtitle {
        font-size: 22px
    }

    .advantages__text-block {
        width: 50%
    }

    .advantages__title {
        margin-bottom: 30px
    }

    .footer__link {
        font-size: 25px
    }

    .footer__tagline {
        font-size: 30px
    }

    .footer__upper-block {
        padding: 45px 0
    }

    .hero__comment-title {
        font-size: 25px
    }

    .hero__comment-block {
        width: 45%
    }
}

@media (max-width: 1200px) {
    .hero {
        padding: 60px 60px 100px
    }

    .hero__big-col {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .review-block__avatar {
        max-width: 70px
    }

    .screen-block__wrapper {
        top: -60px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .screen-block__text {
        margin-bottom: 60px
    }

    .screen-block__exchange-rates {
        width: 100%
    }

    .wrapper {
        padding: 0 40px;
        margin-bottom: -100px
    }

    .advantages__list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 50px
    }

    .advantages {
        padding: 80px 10px;
        padding-top: 200px
    }

    .advantages__decor-coins {
        bottom: -70px;
        right: -370px
    }

    .advantages__decor-coins img {
        width: 70%
    }

    .advantages__decor-left img {
        width: 45%
    }

    .advantages__decor-right {
        right: -240px;
        bottom: 28%
    }

    .advantages__decor-right img {
        width: 45%
    }

    .advantages__decor-bottom {
        right: -220px
    }

    .advantages__decor-bottom img {
        width: 70%
    }

    .advantages__text-block {
        margin-left: 0;
        padding: 0 30px
    }

    .advantages__title {
        font-size: 30px;
        margin-bottom: 30px
    }

    .advantages__text {
        font-size: 20px
    }

    .connect {
        background: 0 0
    }

    .connect__comments-list {
        padding: 0 40px
    }

    .connect-title {
        display: block;
        text-align: center
    }

    .connect__comment-block {
        height: 100%
    }

    .connect__comment-block br {
        display: none
    }

    .gallery {
        top: 16.6vw
    }

    .gallery-controls {
        bottom: -4vw
    }

    .advantages__card-icon {
        max-width: 85px
    }

    .advantages__card-title {
        margin-bottom: 15px
    }

    .advantages__card-wrapper {
        padding: 20px
    }

    .description__title {
        font-size: 30px
    }

    .description__subtitle {
        font-size: 20px
    }

    .reg-title {
        margin-top: 40px
    }

    .crypto-exchanges__list img {
        max-width: 60px
    }

    .connect__comment-avatar {
        max-width: 80px
    }

    .connect__comment-info {
        margin-left: 95px
    }

    .connect__comment-title {
        font-size: 25px
    }

    span.connect__comment-raiting {
        width: 50%
    }

    .connect__comment-text {
        font-size: 18px
    }

    .connect__comment-btns {
        font-size: 20px
    }

    .connect__comment-like::before {
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center
    }

    .connect__comment::before {
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center
    }

    .hero__comment-block {
        width: 50%
    }

    .hero__comment-text-block {
        font-size: 16px
    }
}

@media (max-width: 992px) {
    .hero {
        padding: 100px 20px;
        font-size: 52px;
        background: url("../images/decor/pattern-mob.webp"), url("../images/decor/coins-mob.webp");
        background-size: cover, 90%;
        background-repeat: no-repeat, no-repeat;
        background-position: center, 0% -40%
    }

    .hero__big-col {
        width: 100%;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .hero__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .hero__header {
        font-size: 7vw
    }

    .hero__col {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .review-block__avatar {
        max-width: 100px
    }

    .review-block__title {
        font-size: 30px
    }

    .review-block__text {
        font-size: 20px
    }

    .form__input {
        padding: 25px 15px
    }

    .btn {
        padding: 1em 1.2em;
        font-size: 30px
    }

    .btn span {
        font-size: 30px
    }

    .screen-block__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 80px 200px;
        background: url("");
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 65%;
        background-position: top center;
        padding-bottom: 0;
        gap: 30px;
        top: -60px
    }

    .screen-block__exchange-rates {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%
    }

    .screen-block__text {
        font-size: 25px;
        margin-bottom: 20px
    }

    .screen-block__first-col {
        width: 100%
    }

    .screen-block__second-col {
        width: 100%
    }

    .screen-block__rates-block {
        max-width: 100%;
        padding: 20px
    }

    .screen-block__icon {
        width: 25px;
        height: 25px
    }

    .screen-block__number {
        font-size: 20px
    }

    .screen-block__currency {
        font-size: 20px
    }

    .description__title {
        text-align: center
    }

    .description__title br {
        display: none
    }

    .description__title-wrapper {
        padding: 0 70px
    }

    .description__subtitle {
        text-align: center
    }

    .description__subtitle br {
        display: none
    }

    .chat-slider {
        display: none
    }

    .chat-slider--mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0 40px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 90px
    }

    .review-block {
        width: 82vw;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 66vw;
        display: block;
        margin-bottom: -80px;
        padding: 0
    }

    .review-block__header {
        margin-top: 18vw;
        padding-left: 60px
    }

    .review-block__text {
        margin-top: 50px;
        padding-left: 60px;
        padding-right: 60px;
        font-size: 2.6vw
    }

    .form__textarea {
        padding: 25px 15px
    }

    .advantages {
        padding: 0;
        background: url("../images/decor/ff.webp");
        background-repeat: no-repeat;
        background-position: center 80%;
        background-size: 100%;
        padding-bottom: 30px;
        background-size: 120%
    }

    .advantages__list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 15px
    }

    .advantages__card {
        max-width: 350px
    }

    .advantages__decor-right {
        display: none;
        position: static
    }

    .advantages__decor-left {
        display: none;
        position: static
    }

    .advantages__decor-bottom {
        display: none;
        position: static
    }

    .advantages__decor-coins {
        display: none;
        position: static
    }

    .advantages__card-wrapper {
        padding-bottom: 30px
    }

    .advantages__text-block {
        margin-left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 40px;
        width: 100%;
        text-align: center
    }

    .crypto-exchanges__list {
        padding: 20 0
    }

    .advantages__title br {
        display: none
    }

    .advantages__text br {
        display: none
    }

    .connect-title {
        text-align: center;
        display: block
    }

    .connect-title br {
        display: none
    }

    .connect {
        background: 0 0
    }

    .connect__comments-list {
        padding: 0 20px
    }

    .review-block__text br {
        display: none
    }

    .wrapper {
        margin-bottom: 0
    }

    .hero__comment-title-block hr {
        margin: 10px 0
    }

    .hero__comment-title {
        font-size: 20px
    }

    .hero__comment-text-block {
        font-size: 14px
    }
}

@media (max-width: 768px) {
    .hero__comment-title {
        font-size: 25px
    }

    .hero__comment-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .hero__comment-block {
        width: 80%;
        -ms-grid-rows: 2fr 1fr;
        grid-template-rows:2fr 1fr
    }

    .hero__comment-text-block {
        font-size: 18px
    }

    .review-block {
        width: 85vw
    }

    .hero {
        padding: 50px 20px;
        background-size: cover, 0%
    }

    .hero__col {
        padding-top: 35px
    }

    .btn {
        font-size: 25px
    }

    .btn span {
        font-size: 25px
    }

    .screen-block__wrapper {
        padding: 60px;
        background-size: 100%;
        top: -15px
    }

    .screen-block__text {
        font-size: 30px
    }

    .screen-block__text br {
        display: none
    }

    .description__title {
        font-size: 40px
    }

    .advantages {
        background-size: contain;
        background-position: center 120%
    }

    .advantages__list {
        margin-bottom: 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .advantages__text-block {
        margin-top: 70px
    }

    .advantages__title {
        margin-bottom: 30px
    }

    .connect {
        padding: 40px 0
    }

    .connect-title {
        margin-bottom: 50px
    }

    .connect__comment-text {
        font-size: 18px
    }

    .connect__comment-title {
        font-size: 25px
    }

    .connect__comments-list {
        margin-bottom: 40px
    }

    .footer__upper-block {
        padding: 40px 0
    }

    .footer__link {
        font-size: 25px
    }

    .footer__tagline {
        font-size: 30px
    }

    .footer__copyright {
        font-size: 20px
    }

    .connect-title {
        font-size: 30px
    }

    .review-block {
        margin-bottom: -50px
    }

    .review-block__header {
        margin-top: 20vw;
        padding-left: 30px
    }

    .review-block__avatar {
        max-width: 80px
    }

    .review-block__text {
        margin-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 2.6vw
    }

    .review-block__title {
        font-size: 25px
    }

    .crypto-exchanges__list {
        padding: 20px 0
    }

    .crypto-exchanges__list img {
        max-width: 60px
    }

    .screen-block__first-col {
        width: 100%
    }

    .screen-block__second-col {
        width: 100%
    }

    .screen-block__exchange-rates {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%
    }

    .connect__comment-avatar {
        max-width: 80px
    }

    .connect__comment-info {
        margin-left: 95px
    }

    .connect__comment-raiting {
        width: 50%
    }

    .connect__comment-like {
        -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
        transform: scale(.8)
    }

    .connect__comment {
        -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
        transform: scale(.8)
    }

    .hero__comment-wrapper {
        margin-top: 50px
    }
}

@media (max-width: 576px) {
    .crypto-exchanges__list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 35px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .hero__comment-block {
        width: 80%;
        -ms-grid-rows: 1.8fr 1fr;
        grid-template-rows:1.8fr 1fr
    }

    .screen-block__wrapper {
        padding: 0;
        background: 0 0;
        top: 0
    }

    .screen-block {
        padding: 25px
    }

    .screen-block__currency {
        font-size: 25px
    }

    .screen-block__number {
        font-size: 25px
    }

    .screen-block__rates-block {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .screen-block__rates-block {
        padding: 20px
    }

    .screen-block__icon {
        width: 30px;
        height: 30px
    }

    .description__title-wrapper {
        padding: 0 30px
    }

    .description__title {
        font-size: 35px
    }

    .description__subtitle {
        font-size: 20px
    }

    .description__title-wrapper {
        margin-bottom: 30px
    }

    .chat-slider--mobile {
        padding: 0 20px
    }

    .review-block__avatar {
        width: 60px;
        height: 60px
    }

    .review-block__header {
        margin-top: 16vw;
        padding-left: 15px
    }

    .review-block__title {
        font-size: 20px
    }

    .review-block__text {
        padding: 0 15px;
        font-size: 2.8vw;
        margin-top: 20px
    }

    .review-block {
        margin-bottom: -40px
    }

    .advantages__card {
        font-size: 14px;
        line-height: 1.5
    }

    .advantages__list {
        padding: 0 10px
    }

    .advantages__card-wrapper {
        padding: 15px;
        padding-bottom: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 20px
    }

    .advantages__text-wrapper {
        padding: 0
    }

    .advantages__card-title {
        margin-bottom: 15px
    }

    .advantages__card-icon {
        max-width: 65px;
        height: auto;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        margin-bottom: 0
    }

    .advantages__card-text br {
        display: none
    }

    .btn {
        font-size: 20px
    }

    .btn span {
        font-size: 20px
    }

    .advantages__text-block {
        margin-top: 40px
    }

    .advantages__title br {
        display: none
    }

    .advantages__text-block {
        padding: 0 15px
    }

    .connect__comment-title {
        font-size: 20px;
        width: 75%;
        margin-bottom: 0
    }

    .connect__comment-avatar {
        max-width: 15%
    }

    .connect__comment-info {
        margin-left: 0
    }

    span.connect__comment-raiting {
        width: 30%
    }

    .connect__comment-like::before {
        width: 25px;
        height: 25px;
        background-size: contain
    }

    .connect__comment-btns {
        font-size: 20px
    }

    .connect__comment::before {
        width: 25px;
        height: 25px;
        background-size: contain
    }

    .connect__comment-block {
        padding: 20px
    }

    .connect__comment-text br {
        display: none
    }

    .footer__link-wrapper {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        gap: 0
    }

    .footer__link {
        font-size: 20px
    }

    .footer__tagline {
        font-size: 20px
    }

    .footer__copyright {
        font-size: 14px
    }

    .review-block__avatar {
        border-width: 2px
    }

    .description__title-wrapper {
        padding: 0
    }

    .wrapper {
        padding: 0 10px
    }

    .advantages__list {
        padding-top: 40px
    }

    .crypto-exchanges__list {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 20px
    }

    .crypto-exchanges__list img {
        max-width: 45px
    }

    .form {
        max-width: 380px
    }

    .form__input {
        font-size: 16px;
        padding: 15px
    }

    .form__input::-webkit-input-placeholder {
        font-size: 16px
    }

    .form__input::-moz-placeholder {
        font-size: 16px
    }

    .form__input:-ms-input-placeholder {
        font-size: 16px
    }

    .form__input::-ms-input-placeholder {
        font-size: 16px
    }

    .form__input::placeholder {
        font-size: 16px
    }

    .form__textarea {
        font-size: 16px;
        padding: 15px
    }

    .form__textarea::-webkit-input-placeholder {
        font-size: 16px
    }

    .form__textarea::-moz-placeholder {
        font-size: 16px
    }

    .form__textarea:-ms-input-placeholder {
        font-size: 16px
    }

    .form__textarea::-ms-input-placeholder {
        font-size: 16px
    }

    .form__textarea::placeholder {
        font-size: 16px
    }

    img.logo__img {
        width: 15%
    }

    span.logo__text {
        font-size: 18px
    }

    .hero__comment-text-block {
        font-size: 16px
    }

    .hero__comment-title {
        font-size: 22px
    }
}

@media (max-width: 480px) {
    .hero__comment-block {
        width: 100%
    }
}

@media (max-width: 425px) {
    .hero__comment-text-block {
        border-radius: 0 0 20px 20px
    }

    .description__title {
        font-size: 30px
    }

    .review-block__avatar {
        max-width: 60px;
        width: 100%;
        height: auto
    }

    .review-block__title {
        font-size: 16px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        gap: 0;
        width: 100%;
        padding-right: 15px
    }

    .chat-slider--mobile {
        margin-bottom: 30px
    }

    .advantages__title {
        font-size: 30px
    }

    .advantages__text {
        font-size: 20px
    }

    .connect-title {
        padding: 15px;
        font-size: 25px
    }

    .crypto-exchanges__list {
        padding: 10px
    }

    .crypto-exchanges__list img {
        max-width: 25px
    }

    .review-block__text {
        margin-top: 10px;
        font-size: 12px
    }

    .review-block {
        width: 90vw;
        margin-bottom: -20px
    }

    span.logo__text {
        font-size: 16px
    }

    .hero__comment-text-block {
        padding: 10px
    }

    .hero__comment-block {
        border-radius: 20px
    }

    .hero__comment-text-block {
        font-size: 14px
    }

    .hero__comment-title {
        font-size: 20px
    }
}

@media (max-width: 375px) {
    .hero {
        padding: 20px 15px
    }

    .review-block__text {
        font-size: 12px;
        margin-top: 5px
    }

    .advantages__title {
        font-size: 25px
    }

    .advantages__text {
        font-size: 16px
    }

    .connect-title {
        margin-bottom: 20px
    }

    .connect-title {
        font-size: 20px
    }

    .connect__comment-text {
        font-size: 16px
    }

    .connect__comment-btns {
        font-size: 16px
    }

    .footer__link {
        font-size: 16px
    }

    .footer__tagline {
        font-size: 18px
    }

    .footer__copyright {
        text-align: center
    }

    .footer__lover-block {
        padding: 15px
    }

    .review-block__avatar {
        max-width: 40px
    }

    .chat-slider--mobile {
        padding: 0 10px
    }

    .review-block__title {
        font-size: 14px
    }

    .review-block {
        margin-bottom: -25px;
        width: 92vw;
        height: 70vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 5px
    }

    .review-block__header {
        margin-top: 6vw
    }

    .connect__comment-title {
        width: 70%;
        margin-bottom: 0
    }

    .connect__comment-avatar {
        max-width: 18%
    }

    .screen-block__currency {
        font-size: 20px
    }

    .screen-block__number {
        font-size: 20px
    }

    .screen-block__icon {
        width: 25px;
        height: 25px
    }

    .hero__comment-img img {
        height: 520px;
        -o-object-fit: cover;
        object-fit: cover
    }
}