.crypto-exchanges {
    padding: 40px 0;
    background: white;
}

.crypto-exchanges__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.crypto-exchanges__item {
    width: 90px;
    height: auto;
}

@media (max-width: 992px) {
    .crypto-exchanges {
        padding: 30px 0;
    }

    .crypto-exchanges__list {
        padding: 0 50px;
    }

    .crypto-exchanges__item {
        width: 60px;
    }
}

@media (max-width: 768px) {
    .crypto-exchanges {
        padding: 20px 0;
    }

    .crypto-exchanges__list {
        padding: 0 40px;
    }

    .crypto-exchanges__item {
        width: 50px;
    }
}

@media (max-width: 576px) {
    .crypto-exchanges__list {
        padding: 0 30px;
    }

    .crypto-exchanges__item {
        width: 40px;
    }
}

@media (max-width: 375px) {
    .crypto-exchanges__item {
        width: 35px;
    }
}