@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-Thin.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-Thin.woff") format('woff');
    font-weight: 1;
    font-style: normal
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-Thin.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-Thin.woff") format('woff');
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-ThinItalic.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-ThinItalic.woff") format('woff');
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-ThinItalic.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-ThinItalic.woff") format('woff');
    font-weight: 1;
    font-style: italic
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-ExtraLight.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-ExtraLight.woff") format('woff');
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff") format('woff');
    font-weight: 200;
    font-style: italic
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-Light.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-Light.woff") format('woff');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-LightItalic.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-LightItalic.woff") format('woff');
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-Regular.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-Italic.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-Italic.woff") format('woff');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-Medium.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-MediumItalic.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-MediumItalic.woff") format('woff');
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-SemiBold.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff") format('woff');
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-Bold.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-Bold.woff") format('woff');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-BoldItalic.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-BoldItalic.woff") format('woff');
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-ExtraBold.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-ExtraBold.woff") format('woff');
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff") format('woff');
    font-weight: 800;
    font-style: italic
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-Black.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-Black.woff") format('woff');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/Montserrat-BlackItalic.woff2") format('woff2'), url("../fonts/montserrat/Montserrat-BlackItalic.woff") format('woff');
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: tt firs neue;
    src: url("");
    src: local('TT Firs Neue Light'), local('TTFirsNeue-Light'), url("") format('embedded-opentype'), url("../fonts/ttfirsneue/TTFirsNeue-Light.woff2") format('woff2'), url("../fonts/ttfirsneue/TTFirsNeue-Light.woff") format('woff'), url("../fonts/ttfirsneue/TTFirsNeue-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: tt firs neue;
    src: url("");
    src: local('TT Firs Neue Regular'), local('TTFirsNeue-Regular'), url("") format('embedded-opentype'), url("../fonts/ttfirsneue/TTFirsNeue-Regular.woff2") format('woff2'), url("../fonts/ttfirsneue/TTFirsNeue-Regular.woff") format('woff'), url("../fonts/ttfirsneue/TTFirsNeue-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: tt firs neue;
    src: url("");
    src: local('TT Firs Neue Bold Italic'), local('TTFirsNeue-BoldItalic'), url("") format('embedded-opentype'), url("../fonts/ttfirsneue/TTFirsNeue-BoldItalic.woff2") format('woff2'), url("../fonts/ttfirsneue/TTFirsNeue-BoldItalic.woff") format('woff'), url("../fonts/ttfirsneue/TTFirsNeue-BoldItalic.ttf") format('truetype');
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: tt firs neue;
    src: url("");
    src: local('TT Firs Neue DemiBold Italic'), local('TTFirsNeue-DemiBoldItalic'), url("") format('embedded-opentype'), url("../fonts/ttfirsneue/TTFirsNeue-DemiBoldItalic.woff2") format('woff2'), url("../fonts/ttfirsneue/TTFirsNeue-DemiBoldItalic.woff") format('woff'), url("../fonts/ttfirsneue/TTFirsNeue-DemiBoldItalic.ttf") format('truetype');
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: tt firs neue;
    src: url("");
    src: local('TT Firs Neue ExtraLight'), local('TTFirsNeue-ExtraLight'), url("") format('embedded-opentype'), url("../fonts/ttfirsneue/TTFirsNeue-ExtraLight.woff2") format('woff2'), url("../fonts/ttfirsneue/TTFirsNeue-ExtraLight.woff") format('woff'), url("../fonts/ttfirsneue/TTFirsNeue-ExtraLight.ttf") format('truetype');
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: tt firs neue;
    src: url("");
    src: local('TT Firs Neue Thin Italic'), local('TTFirsNeue-ThinItalic'), url("") format('embedded-opentype'), url("../fonts/ttfirsneue/TTFirsNeue-ThinItalic.woff2") format('woff2'), url("../fonts/ttfirsneue/TTFirsNeue-ThinItalic.woff") format('woff'), url("../fonts/ttfirsneue/TTFirsNeue-ThinItalic.ttf") format('truetype');
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: tt firs neue;
    src: url("");
    src: local('TT Firs Neue Medium Italic'), local('TTFirsNeue-MediumItalic'), url("") format('embedded-opentype'), url("../fonts/ttfirsneue/TTFirsNeue-MediumItalic.woff2") format('woff2'), url("../fonts/ttfirsneue/TTFirsNeue-MediumItalic.woff") format('woff'), url("../fonts/ttfirsneue/TTFirsNeue-MediumItalic.ttf") format('truetype');
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: tt firs neue;
    src: url("");
    src: local('TT Firs Neue DemiBold'), local('TTFirsNeue-DemiBold'), url("") format('embedded-opentype'), url("../fonts/ttfirsneue/TTFirsNeue-DemiBold.woff2") format('woff2'), url("../fonts/ttfirsneue/TTFirsNeue-DemiBold.woff") format('woff'), url("../fonts/ttfirsneue/TTFirsNeue-DemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: tt firs neue;
    src: url("");
    src: local('TT Firs Neue Black Italic'), local('TTFirsNeue-BlackItalic'), url("") format('embedded-opentype'), url("../fonts/ttfirsneue/TTFirsNeue-BlackItalic.woff2") format('woff2'), url("../fonts/ttfirsneue/TTFirsNeue-BlackItalic.woff") format('woff'), url("../fonts/ttfirsneue/TTFirsNeue-BlackItalic.ttf") format('truetype');
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: tt firs neue;
    src: url("");
    src: local('TT Firs Neue Light Italic'), local('TTFirsNeue-LightItalic'), url("") format('embedded-opentype'), url("../fonts/ttfirsneue/TTFirsNeue-LightItalic.woff2") format('woff2'), url("../fonts/ttfirsneue/TTFirsNeue-LightItalic.woff") format('woff'), url("../fonts/ttfirsneue/TTFirsNeue-LightItalic.ttf") format('truetype');
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: tt firs neue;
    src: url("");
    src: local('TT Firs Neue ExtraLight Italic'), local('TTFirsNeue-ExtraLightItalic'), url("") format('embedded-opentype'), url("../fonts/ttfirsneue/TTFirsNeue-ExtraLightItalic.woff2") format('woff2'), url("../fonts/ttfirsneue/TTFirsNeue-ExtraLightItalic.woff") format('woff'), url("../fonts/ttfirsneue/TTFirsNeue-ExtraLightItalic.ttf") format('truetype');
    font-weight: 200;
    font-style: italic
}

@font-face {
    font-family: tt firs neue;
    src: url("");
    src: local('TT Firs Neue Bold'), local('TTFirsNeue-Bold'), url("") format('embedded-opentype'), url("../fonts/ttfirsneue/TTFirsNeue-Bold.woff2") format('woff2'), url("../fonts/ttfirsneue/TTFirsNeue-Bold.woff") format('woff'), url("../fonts/ttfirsneue/TTFirsNeue-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: tt firs neue;
    src: url("");
    src: local('TT Firs Neue ExtraBold'), local('TTFirsNeue-ExtraBold'), url("") format('embedded-opentype'), url("../fonts/ttfirsneue/TTFirsNeue-ExtraBold.woff2") format('woff2'), url("../fonts/ttfirsneue/TTFirsNeue-ExtraBold.woff") format('woff'), url("../fonts/ttfirsneue/TTFirsNeue-ExtraBold.ttf") format('truetype');
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: tt firs neue;
    src: url("");
    src: local('TT Firs Neue Medium'), local('TTFirsNeue-Medium'), url("") format('embedded-opentype'), url("../fonts/ttfirsneue/TTFirsNeue-Medium.woff2") format('woff2'), url("../fonts/ttfirsneue/TTFirsNeue-Medium.woff") format('woff'), url("../fonts/ttfirsneue/TTFirsNeue-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: tt firs neue;
    src: url("");
    src: local('TT Firs Neue Thin'), local('TTFirsNeue-Thin'), url("") format('embedded-opentype'), url("../fonts/ttfirsneue/TTFirsNeue-Thin.woff2") format('woff2'), url("../fonts/ttfirsneue/TTFirsNeue-Thin.woff") format('woff'), url("../fonts/ttfirsneue/TTFirsNeue-Thin.ttf") format('truetype');
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: tt firs neue;
    src: url("");
    src: local('TT Firs Neue ExtraBold Italic'), local('TTFirsNeue-ExtraBoldItalic'), url("") format('embedded-opentype'), url("../fonts/ttfirsneue/TTFirsNeue-ExtraBoldItalic.woff2") format('woff2'), url("../fonts/ttfirsneue/TTFirsNeue-ExtraBoldItalic.woff") format('woff'), url("../fonts/ttfirsneue/TTFirsNeue-ExtraBoldItalic.ttf") format('truetype');
    font-weight: 800;
    font-style: italic
}

@font-face {
    font-family: tt firs neue;
    src: url("");
    src: local('TT Firs Neue Black'), local('TTFirsNeue-Black'), url("") format('embedded-opentype'), url("../fonts/ttfirsneue/TTFirsNeue-Black.woff2") format('woff2'), url("../fonts/ttfirsneue/TTFirsNeue-Black.woff") format('woff'), url("../fonts/ttfirsneue/TTFirsNeue-Black.ttf") format('truetype');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: tt firs neue;
    src: url("");
    src: local('TT Firs Neue Italic'), local('TTFirsNeue-Italic'), url("") format('embedded-opentype'), url("../fonts/ttfirsneue/TTFirsNeue-Italic.woff2") format('woff2'), url("../fonts/ttfirsneue/TTFirsNeue-Italic.woff") format('woff'), url("../fonts/ttfirsneue/TTFirsNeue-Italic.ttf") format('truetype');
    font-weight: 400;
    font-style: italic
}