#reg-form {
    max-width: 485px;
    width: 100%;
}

.rf-form {
    box-shadow: none;
}

.rf-form__header {
    display: none;
}

.rf-form-button {
    border-radius: 20px;
    background: -o-linear-gradient(
            307deg,
            #b6ff6f 0%,
            #beed8f 100%
    );
    background: linear-gradient(143deg, #b6ff6f 0%, #beed8f 100%);
    color: #1e1e1e;
    text-align: center;
    font-family: "Montserrat";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    height: 84px;
}

.rf-form-button:hover,
.rf-form-button:active {
    color: #beed8f;
    background: #333;
}

.rf-form-field {
    border-radius: 20px;
    border: 2px solid #fff;
    background: -o-linear-gradient(
            274deg,
            rgba(51, 51, 51, 0.4) 0%,
            rgba(80, 79, 79, 0.4) 100%
    );
    background: linear-gradient(
            176deg,
            rgba(51, 51, 51, 0.4) 0%,
            rgba(80, 79, 79, 0.4) 100%
    );
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 3;
}

.rf-form__content {
    padding: 0;
    max-width: 485px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.rf-form-input {
    color: #faf8ff;
    background: transparent;
    border: none;
    box-shadow: none;
    text-align: left;
    font-family: "Montserrat";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    padding: 30px 15px;
    width: 100%;
}

.rf-form-input:focus {
    box-shadow: #fff 0 0 0 0, #beed8f 0 0 0 2px,
    rgba(0, 0, 0, 0.05) 0 1px 2px 0;
    border-radius: 0 20px 20px 0px;
}

.rf-form-input::-webkit-input-placeholder {
    color: #faf8ff;
    text-align: left;
    font-family: "Montserrat";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}

.rf-form-input::-moz-placeholder {
    color: #faf8ff;
    text-align: left;
    font-family: "Montserrat";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}

.rf-form-input:-ms-input-placeholder {
    color: #faf8ff;
    text-align: left;
    font-family: "Montserrat";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}

.rf-form-input::-ms-input-placeholder {
    color: #faf8ff;
    text-align: left;
    font-family: "Montserrat";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}

.rf-form-input::placeholder {
    color: #faf8ff;
    text-align: left;
    font-family: "Montserrat";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}

.rf-form-field__error {
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 5;
}

.logo__img {
    width: 50px;
}

.header {
    padding: 10px;
}

@media (max-width: 1280px) {
    .rf-form-input {
        padding: 15px 15px;
    }

    .rf-form-input {
        font-size: 16px;
    }

    .rf-form-input::-webkit-input-placeholder {
        font-size: 16px;
    }

    .rf-form-input::-moz-placeholder {
        font-size: 16px;
    }

    .rf-form-input:-ms-input-placeholder {
        font-size: 16px;
    }

    .rf-form-input::-ms-input-placeholder {
        font-size: 16px;
    }

    .rf-form-input::placeholder {
        font-size: 16px;
    }

    .rf-form-button {
        font-size: 16px;
    }

    .rf-form-button {
        height: 54px;
    }
}

@media (max-width: 1200px) {
    .rf-form-input {
        font-size: 18px;
    }

    .rf-form-input::-webkit-input-placeholder {
        font-size: 18px;
    }

    .rf-form-input::-moz-placeholder {
        font-size: 18px;
    }

    .rf-form-input:-ms-input-placeholder {
        font-size: 18px;
    }

    .rf-form-input::-ms-input-placeholder {
        font-size: 18px;
    }

    .rf-form-input::placeholder {
        font-size: 18px;
    }

    .rf-form-button {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    .rf-form-field {
        font-size: 18px;
    }

    .rf-form-input {
        padding: 25px 15px;
    }

    .rf-form-field__error {
        top: -2px;
    }

    .rf-form-button {
        height: 74px;
    }

    .logo__img {
        width: 40px;
    }

    span.logo__text {
        font-size: 40px;
    }

    .registration-timer {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .rf-form-input {
        padding: 15px 15px;
    }

    .rf-form-input {
        font-size: 16px;
    }

    .rf-form-input::-webkit-input-placeholder {
        font-size: 16px;
    }

    .rf-form-input::-moz-placeholder {
        font-size: 16px;
    }

    .rf-form-input:-ms-input-placeholder {
        font-size: 16px;
    }

    .rf-form-input::-ms-input-placeholder {
        font-size: 16px;
    }

    .rf-form-input::placeholder {
        font-size: 16px;
    }

    .rf-form-button {
        font-size: 16px;
    }

    .rf-form-field__error {
        top: 48px;
    }

    .rf-form-button {
        height: 54px;
    }

    img.logo__img {
        width: 30px;
    }

    span.logo__text {
        font-size: 25px;
    }
}

