*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

button,
input,
textarea,
select {
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
}

button {
    cursor: pointer;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
    outline: none;
}

label {
    cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}