html {
    overflow-x: hidden;
    position: relative
}

body {
    font-family: nunito, sans-serif;
    background: -o-linear-gradient(top, rgba(63, 43, 115, 1) 0%, rgba(104, 61, 214, 1) 100%);
    background: -webkit-linear-gradient(linear, left top, left bottom, from(rgba(63, 43, 115, 1)), to(rgba(104, 61, 214, 1)));
    background: linear-gradient(180deg, rgba(63, 43, 115, 1) 0%, rgba(104, 61, 214, 1) 100%);
    background-attachment: fixed;
    overflow-x: hidden;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column
}

main {
    overflow: hidden;
    background: -o-linear-gradient(top, rgba(63, 43, 115, 1) 0%, rgba(104, 61, 214, 1) 100%);
    background: -webkit-linear-gradient(linear, left top, left bottom, from(rgba(63, 43, 115, 1)), to(rgba(104, 61, 214, 1)));
    background: linear-gradient(180deg, rgba(63, 43, 115, 1) 0%, rgba(104, 61, 214, 1) 100%);
    background-attachment: fixed;
    flex: 1 0 auto
}