html {
    overflow-x: hidden;
    position: relative
}

body {
    font-family: nunito, sans-serif;
    background: linear-gradient(180deg, rgba(63, 43, 115, 1) 0%, rgba(104, 61, 214, 1) 100%) fixed;
    overflow-x: hidden;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column
}

main {
    overflow: hidden;
    background: linear-gradient(180deg, rgba(63, 43, 115, 1) 0%, rgba(104, 61, 214, 1) 100%) fixed;
    flex: 1 0 auto
}